body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* start of the top portion */
.container_one {
    background-color: #1f2937;
    color: white;
    padding: 24px 150px 100px;
}

.header {
    display: flex;
    margin-bottom: 100px;
}

.logo {
    display: flex;
    flex: 1 0 auto;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.links {
    display: flex;
    flex: 0 0 auto;
    margin-left: auto;
    margin-top: 5px;
    gap: 16px;
}

a {
    text-decoration: none;
    color: white;
}

.bottom_header {
    display: flex;
    align-items: center;
    gap: 100px;
}

.awesome {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.text {
    font-size: 18px;
    color: #E5E7EB;
}

.top {
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
    border: 0px;
    margin-top: 8px;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 30px;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: auto;
}

/* start of the second portion */