body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* start of the top portion */
.container_one {
    background-color: #1f2937;
    color: white;
    padding: 24px 150px 100px;
}

.header {
    display: flex;
    margin-bottom: 100px;
}

.logo {
    display: flex;
    flex: 1 0 auto;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.links {
    display: flex;
    flex: 0 0 auto;
    margin-left: auto;
    margin-top: 5px;
    gap: 16px;
}

a {
    text-decoration: none;
    color: white;
}

.bottom_header {
    display: flex;
    align-items: center;
    gap: 100px;
}

.awesome {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.text {
    font-size: 18px;
    color: #E5E7EB;
}

.top {
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
    border: 0px;
    margin-top: 8px;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 30px;
}

.image {
    width: 400px;
    height: auto;
}

/* start of the second portion */
.container_two {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 200px 64px;
}

.header_two {
    font-size: 32px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
}

.pictures {
    display: flex;
    margin-top: 16px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dragon {
    width: 150px;
    height: auto;
    border: 5px solid #3882F6;
    border-radius: 12px;
}

.image_text {
    text-align: center;
}

/* start of the third portion */
.container_three {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    padding: 150px 250px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.author {
    margin-left: auto;
    margin-top: 8px;
    font-size: 24px;
    font-weight: bold;
}

/* start of the fourth portion */
.container_four {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: auto;
    gap: 150px;
    padding: 50px;
    margin: 100px 150px;
    border-radius: 12px;
    background-color: #3882F6;
}

.promo {
    color: white;
}

.action {
    font-size: 24px;
}

.bottom {
    background-color: #3882F6;
    border: solid white 2px;
    border-radius: 8px;
    font-weight: bold;
    color: white;
    padding: 8px 25px;
    margin-top: 10px;
}

.footer {
    text-align: center;
    background-color: #1F2937;
    font-size: 18px;
    color: white;
    padding: 32px 0px;
}